@import './_variables.scss';

.RunPage {
  overflow: hidden;
  color: #000;

  @media (max-width: $width-mobile) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}



.RunPage .screen-container {
  // display: flex;
  flex: 1 0 auto;
  text-align: center;
  margin: 20px;
  /* padding: 5px 0; */
  /* background: rgb(91,90,90); */
  /* background: radial-gradient(circle, rgba(91,90,90,1) 0%, rgba(158,158,158,1) 100%); */

  @media (max-width: $width-mobile) {
    display: flex;
  }

}

.Screen.power-off {
  height: 100%;
}

.Screen {
  clip-path: url(#svgPath);
}


.tv {
  display: flex;
  max-width: 900px;
  margin: auto;
  background: radial-gradient(circle, rgba(91,90,90,1) 0%, rgba(158,158,158,1) 100%);

  @media (max-width: $width-mobile) {
    flex-direction: column;
    width: 100%;
  }
}

.tv__side-panel {
  display: flex;
  flex-direction: column;
  width: 20%;

  @media (max-width: $width-mobile) {
    width: 100%;
    flex-direction: row;
  }
}

.tv__control {
  flex: 1 0 auto;
  background: rgb(91,90,90);
  padding: 10px;

  @media (max-width: $width-mobile) {
    // width: 100%;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
  }
}


.instruction-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
  background-color: rgba(0,0,0, .5);

  @media (max-width: $width-mobile) {
    // position: absolute;
    z-index: 10;
  }
}

.instruction-box__copy {
  max-width: 900px;
  background-color: lightblue;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;

  .bi-info-circle-fill {
    margin-left: 10px;
    margin-top: -3px;
  }
}

.instruction-box__closed {
  // position: absolute;
  padding: 5px;
  background-color: gray;

  .bi-info-circle-fill {
    width: 30px;
    height: 30px;
    color: lightblue;

    @media (max-width: $width-mobile) {
        width: 20px;
        height: 20px;
    }
  }
}

.tv__control__power {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.tv__control__power-indicator {
  background-color: darkred;
  border: 5px solid #888;
  padding: 5px;
  margin-left: 10px;
  // flex: 0 0 50px;
  width: 50px;
}

.tv__side-panel.power-on .tv__control__power-indicator  {
  background-color: green;
}

.tv__control__channel {
  background-color: #000;
  color: #000;
  text-align: right;
  font-size: 24px;
  padding: 20px 20px;
  margin-top: 10px;

  @media (max-width: $width-mobile) {
    display: none;
  }
}

.tv__side-panel.power-on .tv__control__channel {
  color: lightgreen;
}

.tv__speaker {
  flex: 1 0 25%;
  width: 100%;
  /* height: 20%; */
  background: repeating-linear-gradient(0deg, rgb(175, 175, 175) 0%, rgb(0, 0, 0) 3%);

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @media (max-width: $width-mobile) {
    flex: 1 1 auto;
    
  }
}