
.button-action.virtual-game-pad__button__wrapper {
    width: 70px;
    padding: 10px;
}

.button-action .virtual-game-pad__button {
    background-color: red;
    border-radius: 50%;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
    /* box-shadow: inset -5px -5px 10px 2px rgba(255,255,255,0.48); */
}